<link rel="stylesheet" href="/css/shower.css">

<!-- Header Start -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="title">
        <span>{{ answer.title }}</span>
      </div>
    </div>
    </div>
  </div>
</header>
<!-- Header End -->     
<!-- Respostas Section -->
<main class="main">
  <div class="respostas">
    <div class="container">
      <div class="row">
        <div class="shower">
          <p>
            {{ answer.answer }}
          </p>
        </div>        
      </div>
   </div>
 </div>
 <footer class="footer">
    <p><a href="/respostas">RefúgioCristão &copy; 2024 | </a> <span class="category">{{answer.category}}</span></p>
</footer>

</main>

<!-- Respostas Section End -->